@model CreateServiceDto
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}



<form method="post">
    <div class="form-group">
        <span class="label label-warning">Servis İkonu</span>
        <input type="text" asp-for="ServiceIcon" class="form-control" />
        <span asp-validation-for="ServiceIcon" class="text-danger"></span>
    </div>

    <br />
    <br />
    <div class=" form-group">
        <span class="label label-warning">Hizmet Başlığı</span>
        <input type="text" asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <br />
    <br />
    <div class="form-group">
        <span class="label label-warning">Açıklama</span>
        <input type="text" asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

   
    <button class="btn mb-1 btn-rounded btn-info">Hizmet Ekle</button>
</form>
